	/* Coded with love by Mutiullah Samim */
  body,
  html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #222223 !important;
      color: white;
  }
  .user_card {
      height: 500px;
      width: 400px;
      margin-top: 15vh;
      margin-bottom: auto;
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4);
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      border: 2px solid #ff4500;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

  }
  .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: #222223;
      padding: 10px;
      text-align: center;
  }
  .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid #ff4500;
  }
  .form_container {
      margin-top: 100px;
  }
  /* h3 {
      margin-top: 150px;
      text-align: center;
  } */
  .login_btn {
      margin-top: 5vh;
      width: 100%;
      background: #ff4500 !important;
      color: white !important;
  }
  .login_btn a {
    text-decoration: none;
}
.login_btn a:hover {
  text-decoration: none;
}
.login_btn a:visited {
  text-decoration: none;
  color: white !important;
}
  .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .login_container {
      padding: 0 2rem;
  }
  .input-group-text {
      background: #ff4500 !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #ff4500 !important;
  }
  .links a {
        color: #ff8c00;
      text-decoration: none;
      color: antiquewhite;
  }
  .links a:hover {
      text-decoration: none;
      color: #ff8c00;
  }
  .links a:visited {
    text-decoration: none;
    color: #ff8c00;
}